In [1]:
import pandas as pd

data_path = '../../dataset/CHD/DoS_dataset.csv'

In [2]:
df = pd.read_csv(data_path)

In [3]:
df

,Timestamp,CAN_ID,DLC,Data0,Data1,Data2,Data3,Data4,Data5,Data6,Data7,Flag
0,1.478198e+09,0316,8,05,21,68,09,21,21,00,6f,R
1,1.478198e+09,018f,8,fe,5b,00,00,00,3c,00,00,R
2,1.478198e+09,0260,8,19,21,22,30,08,8e,6d,3a,R
3,1.478198e+09,02a0,8,64,00,9a,1d,97,02,bd,00,R
4,1.478198e+09,0329,8,40,bb,7f,14,11,20,00,14,R
...,...,...,...,...,...,...,...,...,...,...,...,...
3665766,1.478201e+09,018f,8,fe,59,00,00,00,41,00,00,R
3665767,1.478201e+09,0260,8,18,21,21,30,08,8f,6d,19,R
3665768,1.478201e+09,02a0,8,24,00,9a,1d,97,02,bd,00,R
3665769,1.478201e+09,0329,8,dc,b7,7f,14,11,20,00,14,R
3665770,1.478201e+09,0545,8,d8,00,00,8b,00,00,00,00,R

In [4]:
df['Flag'].value_counts()

R    3047062
T     587521
Name: Flag, dtype: int64

In [5]:
df.loc[df['Flag'].isna()]

,Timestamp,CAN_ID,DLC,Data0,Data1,Data2,Data3,Data4,Data5,Data6,Data7,Flag
36,1.478198e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN
135,1.478198e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN
227,1.478198e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN
320,1.478198e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN
412,1.478198e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3665351,1.478201e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN
3665443,1.478201e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN
3665536,1.478201e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN
3665628,1.478201e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN
3665721,1.478201e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
flagna = df.loc[df['Flag'].isna()]

In [7]:
flagna['Data2'].value_counts()

R    31188
Name: Data2, dtype: int64

In [8]:
flagna['Data1'].value_counts()

00    31188
Name: Data1, dtype: int64

In [9]:
flagna['Flag'] = 'R'
flagna.head()

<ipython-input-9-57a8946cd702>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flagna['Flag'] = 'R'

,Timestamp,CAN_ID,DLC,Data0,Data1,Data2,Data3,Data4,Data5,Data6,Data7,Flag
36,1.478198e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,R
135,1.478198e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,R
227,1.478198e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,R
320,1.478198e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,R
412,1.478198e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,R

In [10]:
import numpy as np

flagna['Data2'] = np.NaN
flagna

<ipython-input-10-32b2766c7635>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flagna['Data2'] = np.NaN

,Timestamp,CAN_ID,DLC,Data0,Data1,Data2,Data3,Data4,Data5,Data6,Data7,Flag
36,1.478198e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
135,1.478198e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
227,1.478198e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
320,1.478198e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
412,1.478198e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
...,...,...,...,...,...,...,...,...,...,...,...,...
3665351,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
3665443,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
3665536,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
3665628,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
3665721,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R

In [11]:
df.dropna(subset=['Flag'])

,Timestamp,CAN_ID,DLC,Data0,Data1,Data2,Data3,Data4,Data5,Data6,Data7,Flag
0,1.478198e+09,0316,8,05,21,68,09,21,21,00,6f,R
1,1.478198e+09,018f,8,fe,5b,00,00,00,3c,00,00,R
2,1.478198e+09,0260,8,19,21,22,30,08,8e,6d,3a,R
3,1.478198e+09,02a0,8,64,00,9a,1d,97,02,bd,00,R
4,1.478198e+09,0329,8,40,bb,7f,14,11,20,00,14,R
...,...,...,...,...,...,...,...,...,...,...,...,...
3665766,1.478201e+09,018f,8,fe,59,00,00,00,41,00,00,R
3665767,1.478201e+09,0260,8,18,21,21,30,08,8f,6d,19,R
3665768,1.478201e+09,02a0,8,24,00,9a,1d,97,02,bd,00,R
3665769,1.478201e+09,0329,8,dc,b7,7f,14,11,20,00,14,R
3665770,1.478201e+09,0545,8,d8,00,00,8b,00,00,00,00,R

In [12]:
df = pd.concat([df, flagna])

In [13]:
df

,Timestamp,CAN_ID,DLC,Data0,Data1,Data2,Data3,Data4,Data5,Data6,Data7,Flag
0,1.478198e+09,0316,8,05,21,68,09,21,21,00,6f,R
1,1.478198e+09,018f,8,fe,5b,00,00,00,3c,00,00,R
2,1.478198e+09,0260,8,19,21,22,30,08,8e,6d,3a,R
3,1.478198e+09,02a0,8,64,00,9a,1d,97,02,bd,00,R
4,1.478198e+09,0329,8,40,bb,7f,14,11,20,00,14,R
...,...,...,...,...,...,...,...,...,...,...,...,...
3665351,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
3665443,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
3665536,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
3665628,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
3665721,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R

In [14]:
import os

save_path = '../dataset/CHD/modified'

if not os.path.exists(save_path):
    os.makedirs(save_path)

In [15]:
df.to_csv(save_path + '/DoS_dataset.csv')

In [16]:
df['Flag'].value_counts()

R    3078250
T     587521
Name: Flag, dtype: int64