In [1]:
import pandas as pd

data_path = '../../dataset/CHD/RPM_dataset.csv'

In [2]:
df = pd.read_csv(data_path)

In [3]:
df

,Timestamp,CAN_ID,DLC,Data0,Data1,Data2,Data3,Data4,Data5,Data6,Data7,Flag
0,1.478191e+09,0316,8,05,22,68,09,22,20,00,75,R
1,1.478191e+09,018f,8,fe,3b,00,00,00,3c,00,00,R
2,1.478191e+09,0260,8,19,22,22,30,ff,8f,6e,3f,R
3,1.478191e+09,02a0,8,60,00,83,1d,96,02,bd,00,R
4,1.478191e+09,0329,8,dc,b8,7e,14,11,20,00,14,R
...,...,...,...,...,...,...,...,...,...,...,...,...
4621697,1.478201e+09,018f,8,fe,59,00,00,00,41,00,00,R
4621698,1.478201e+09,0260,8,18,21,21,30,08,8f,6d,19,R
4621699,1.478201e+09,02a0,8,24,00,9a,1d,97,02,bd,00,R
4621700,1.478201e+09,0329,8,dc,b7,7f,14,11,20,00,14,R
4621701,1.478201e+09,0545,8,d8,00,00,8b,00,00,00,00,R

In [4]:
df['Flag'].value_counts()

R    3925329
T     654897
Name: Flag, dtype: int64

In [5]:
df.loc[df['Flag'].isna()]

,Timestamp,CAN_ID,DLC,Data0,Data1,Data2,Data3,Data4,Data5,Data6,Data7,Flag
43,1.478191e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN
135,1.478191e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN
228,1.478191e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN
320,1.478191e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN
413,1.478191e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4621282,1.478201e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN
4621374,1.478201e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN
4621467,1.478201e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN
4621559,1.478201e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN
4621652,1.478201e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
flagna = df.loc[df['Flag'].isna()]

In [7]:
flagna['Data2'].value_counts()

R    41476
Name: Data2, dtype: int64

In [8]:
flagna['Flag'] = 'R'

<ipython-input-8-6c0d5ba4bfc9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flagna['Flag'] = 'R'

In [9]:
flagna

,Timestamp,CAN_ID,DLC,Data0,Data1,Data2,Data3,Data4,Data5,Data6,Data7,Flag
43,1.478191e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,R
135,1.478191e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,R
228,1.478191e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,R
320,1.478191e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,R
413,1.478191e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,R
...,...,...,...,...,...,...,...,...,...,...,...,...
4621282,1.478201e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,R
4621374,1.478201e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,R
4621467,1.478201e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,R
4621559,1.478201e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,R
4621652,1.478201e+09,05f0,2,01,00,R,NaN,NaN,NaN,NaN,NaN,R

In [10]:
import numpy as np

flagna.loc[flagna['Data2'] == 'R', 'Data2'] = np.NaN

flagna

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/indexing.py:1719: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,Timestamp,CAN_ID,DLC,Data0,Data1,Data2,Data3,Data4,Data5,Data6,Data7,Flag
43,1.478191e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
135,1.478191e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
228,1.478191e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
320,1.478191e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
413,1.478191e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
...,...,...,...,...,...,...,...,...,...,...,...,...
4621282,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
4621374,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
4621467,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
4621559,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
4621652,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R

In [11]:
df = df.dropna(subset=['Flag'])

In [12]:
df = pd.concat([df, flagna])

In [13]:
df

,Timestamp,CAN_ID,DLC,Data0,Data1,Data2,Data3,Data4,Data5,Data6,Data7,Flag
0,1.478191e+09,0316,8,05,22,68,09,22,20,00,75,R
1,1.478191e+09,018f,8,fe,3b,00,00,00,3c,00,00,R
2,1.478191e+09,0260,8,19,22,22,30,ff,8f,6e,3f,R
3,1.478191e+09,02a0,8,60,00,83,1d,96,02,bd,00,R
4,1.478191e+09,0329,8,dc,b8,7e,14,11,20,00,14,R
...,...,...,...,...,...,...,...,...,...,...,...,...
4621282,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
4621374,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
4621467,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
4621559,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R
4621652,1.478201e+09,05f0,2,01,00,NaN,NaN,NaN,NaN,NaN,NaN,R

In [14]:
df['Flag'].value_counts()

R    3966805
T     654897
Name: Flag, dtype: int64

In [15]:
import os

save_path = '../dataset/CHD/modified'

if not os.path.exists(save_path):
    os.makedirs(save_path)

In [16]:
df.to_csv(save_path + '/RPM_dataset.csv').,?